$ingredient-size: 320px;

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
  background-color: #1F1F1F;
}

body {
  height: 100%;
}

.ingredients-canvas {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.ingredients {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.ingredient {
  position: relative;
  display: block;
  flex-basis: content;
  height: $ingredient-size;
}

.image {
  background-color: #eee;
  //width: 100%;
  height: 100%;
  background-size: cover;
}

.label {
  padding: 2px 4px;
  font-size: 14px;
  line-height: 16px;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: #fff;
}
